h1{
    color:#FAEED1;
    background-color: #B2A59B;
    text-align: center;
}

h2{
  text-align: center;
}

h3{
  color:#FAEED1;
  text-align: center;
}
a{
    color:#DED0B6;
}

*{
    background-color: #607274;
  }

p{
  text-align: center;
  color: #FAEED1;
}

img{
    width: 40%;
    height: 30%;
    margin-left: 30%;
    text-align: center;
    border: 10px solid #B2A59B;
}


